/*************** Layout *************/

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: red; 
    font-size: 64px;
    text-transform: uppercase;
}

p {
    font-size: 30px;
}

ul {
    color: blue;
}
